.avro_nav_container {
  direction: rtl;
  background: white;  
}

.special_btn {
  direction: rtl;
  background: #deebf7; 
  display: flex;
}

.spc_btn_wrapper {
  width: 50%;
  text-align: center;
}

.special_btn h3 {
  margin: 0 auto;
  padding: 15px 7% 15px 0px!important;
  align-items: center;
  color: black!important;
  font-size: 1.2em!important;
}

.special_btn .spc_btn_wrapper:hover {
  cursor: pointer; 
    background: #37CBFB!important;
}

.avro_nav_container ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.avro_nav_container ul a {
  text-decoration: none;
}

.avro_nav_container h3 {
  margin: 0 auto;
  padding: 15px 7% 15px 0px!important;
  display: flex!important;
  align-items: center;
  color: black!important;
  border-bottom: 1px groove #E3E3E3;
  font-size: 1.2em!important;
}

.avro_nav_container h3#first {
  color: #black!important;
  background: white;  
}

.avro_nav_container h3#special2 {
  background: #deebf7!important;
  border-bottom: none;
}

.avro_nav_container h3#special {
  background: #deebf7!important;
}

.avro_nav_container h3:hover {
  background: #37CBFB!important;
  cursor: pointer; 
}

.avro_nav_container h3#special:hover {
  background: #37CBFB!important;
  cursor: pointer; 
}

.avro_nav_container h3#special2:hover {
  background: #37CBFB!important;
  cursor: pointer; 
}

.avro_nav_container i {
  padding: 0 0 0 5px!important;
}

@media screen and (min-width: 700px) and (max-width: 950px) {
  #avro_banner {
    background: url("https://cdn.rawgit.com/hishtalmutcet/avro/master/banner800.jpg") center center/100% 100% no-repeat;
    height: 68px;
  }
    #avro_banner span {
     font-size: 175%;
  }
}

@media screen and (min-width: 951px) and (max-width: 1200px) {
  #avro_banner {
    background: url("https://cdn.rawgit.com/hishtalmutcet/avro/master/banner1024.jpg") center center/100% 100% no-repeat;
    height: 92px;
  }
    #avro_banner span {
     font-size: 200%;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {
  #avro_banner {
    background: url("https://cdn.rawgit.com/hishtalmutcet/avro/master/banner1280.jpg") center center/100% 100% no-repeat;
    height: 115px;
  }
    #avro_banner span {
     font-size: 225%;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
  #avro_banner {
    background: url("https://cdn.rawgit.com/hishtalmutcet/avro/master/banner1366.jpg") center center/100% 100% no-repeat;
    height: 125px;
  }
    #avro_banner span {
     font-size: 250%;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1800px) {
  #avro_banner {
    background: url("https://cdn.rawgit.com/hishtalmutcet/avro/master/banner1680.jpg") center center/100% 100% no-repeat;
    height: 152px;
  }
    #avro_banner span {
     font-size: 275%;
  }
}

@media screen and (min-width: 1801px) {
  #avro_banner {
    background: url("https://cdn.rawgit.com/hishtalmutcet/avro/master/banner1920.jpg") center center/100% 100% no-repeat;
    height: 176px;
  }
  #avro_banner span {
     font-size: 300%;
  }
}
